h1 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
}   
h2 {
    text-align: center;
}
p{
    text-align: center;
}
ul, ol {
    text-align: center;
}

a {
    text-align: center;
}
