p.Balls {
    color: aqua;
}
h1.Balls {
    color: red;
}
.Butt {
    color: aquamarine;
}
.Container {
    background-color: darkblue;
}
.Balls2 {
    color: red;
}
.Container2 {
    background-color: blueviolet;
}
.AlsoBalls {
    color: brown;

}
.Booty {
    color: black;

}