td, th {
    border: 3px solid darkblue;
    padding: 10px;
    text-align: center;
}
table {
    border: 5px solid darkred;
}
body {
    background-color: skyblue;
    
}
textarea {
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 2px lightblue, -2px -2px 2px blue;
}
