h1 {
    text-align: center;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
    border: 5px solid blue;
}   
ul, li  {
    text-align: center;
    list-style-position: inside;
}
body {
  background-color: skyblue; 
}